


<div id="holder"> 
  <h2>Stekker</h2>
  <div id="Auth">
    <h3>Authorization</h3>
 
      <label>Username</label>
      <input #username type="text"  placeholder="username"/>
      <label>Password</label>
      <input #password type="text"  placeholder="password"/>
      <div id="update" (click)="updateData(username.value, password.value)" >Update </div>
    
    </div>
    
    <div id="data">
      <h3>Data </h3>
      <h4>Name: {{ webData.name }}</h4>
      <h4>On: {{ webData.on }}</h4>
      <h4>power: {{ webData.power }}</h4>
      <h4>today: {{ webData.today }}</h4>
      <h4>Yesterday:{{ webData.yesterday }} </h4>
    </div>

</div>

<router-outlet></router-outlet>
