<h2>Stekker Data</h2>


<div id="holder"> 
  <div id="Auth">
    <h3>Auth</h3>
 
      <label>Username</label>
      <input #username type="text"  placeholder="username"/>
      <label>Password</label>
      <input #password type="text"  placeholder="password"/>
      <div (click)="updateData()" >Update </div>
    
    </div>
    
    <div>
      <h3>Data</h3>
      <h4>Name:</h4>
      <h4>On: </h4>
      <h4>power:</h4>
      <h4>today: </h4>
      <h4>Yesterday: </h4>
    </div>

</div>

<router-outlet></router-outlet>
